#timeline.content-main
  .content-header
    .header-inner
      %h2 Following
  .stream-container
    .stream.home-stream
      .stream-items
        - @followees.each do |followee|
          .stream-item
            .account
              .user-actions.btn-group
                - if current_user.following? followee
                  %a.btn-primary.btn{:href => "/#{current_user.username}/unfollow/#{followee.username}", :type => "button"}
                    Unfollow
                - else
                  %a.btn-primary.btn{:href => "/#{current_user.username}/follow/#{followee.username}", :type => "button"}
                    Follow

              .content
                .stream-item-header
                  %a{:class => "account-group", :href => "/#{followee.username}"}
                    %strong.fullname.js-action-profile-name= followee.fullname
                    %span.username.js-action-profile-name<
                      %s @
                      %b= followee.username

      .stream-footer
        .timeline-end
          .stream-end
            .stream-end-inner
