#timeline.content-main
  .content-header
    .header-inner
      %h2 Followers
  .stream-container
    .stream.home-stream
      .stream-items
        - @followers.each do |follower|
          .stream-item
            .account
              .user-actions.btn-group
                - if current_user.following? follower
                  %a.btn-primary.btn{:href => "/#{current_user.username}/unfollow/#{follower.username}", :type => "button"}
                    Unfollow
                - else
                  %a.btn-primary.btn{:href => "/#{current_user.username}/follow/#{follower.username}", :type => "button"}
                    Follow

              .content
                .stream-item-header
                  %a{:class => "account-group", :href => "/#{follower.username}"}
                    %strong.fullname.js-action-profile-name= follower.fullname
                    %span.username.js-action-profile-name<
                      %s @
                      %b= follower.username

      .stream-footer
        .timeline-end
          .stream-end
            .stream-end-inner
