!!! 5

%html
  %head

    %title= @title || 'Twitter'

    %link{:rel => "stylesheet", :href => "/css/twitter-core.css" }
    %link{:rel => "stylesheet", :href => "/css/twitter-more.css" }
    %link{:rel => "stylesheet", :href => "/css/twitter-user.css" }

    -# %script{:type => "text/javascript", :src => "/javascripts/custom.js"}

  %body{:class => "user-style-robinroest"}
    #doc

      .topbar
        .global-nav
          .global-nav-inner
            .container
              %ul#global-actions.nav
                %li#global-nav-home.home.active
                  %a{:href => "/"} Home

      #page-outer
        #page-container.wrapper.white
          .dashboard
            .module
              .flex-module
                %a{:class => "account-summary account-summary-small", :href => "/#{@user.username}"}
                  .content
                    .account-group
                      %b.fullname= @user.fullname
                      %small.metadata
                        View my profile page

              .div
                %ul.stats
                  %li
                    %a{:href => "/#{@user.username}"}
                      %strong= @user.number_of_tweets
                      Tweets
                  %li
                    %a{:href => "/#{@user.username}/following"}
                      %strong= @user.number_of_followees
                      Following
                  %li
                    %a{:href => "/#{@user.username}/followers"}
                      %strong= @user.number_of_followers
                      Followers

              .tweet-user
                - if @posting_error
                  %small
                    = @posting_error
                  %br
                  %br
                %form{:class => "tweet-form", :method => "post", :action => "post"}
                  .tweet-content
                    %textarea.tweet-box{:name => 'content', :placeholder => "Compose new Tweet.."}
                  .tweet-button
                    %button.btn{:type => "submit"}
                      Tweet

            = haml :who_to_follow

          = haml :tweets

      =yield

