!!! 5

%html
  %head

    %title= @title || 'Twitter'

    %link{:rel => "stylesheet", :href => "/css/twitter-core.css" }
    %link{:rel => "stylesheet", :href => "/css/twitter-more.css" }
    %link{:rel => "stylesheet", :href => "/css/twitter-user.css" }

    -# %script{:type => "text/javascript", :src => "/javascripts/custom.js"}

  %body{:class => "user-style-robinroest"}
    #doc

      .topbar
        .global-nav
          .global-nav-inner
            .container
              %ul#global-actions.nav
                %li#global-nav-home.home
                  %a{:href => "/"} Home

      #page-outer
        #page-container.wrapper.white


          .module.profile-card.component
            .profile-header-inner.flex-module.clearfix

              .profile-card-inner
                %h1.fullname= @user.fullname
                %h2.username
                  %span.screenname<
                    %s @
                    = @user.username
                  %span.follow-status follows you

              .profile-card-actions
                .user-actions.btn-group
                  - if current_user.following? @user
                    %a.btn-primary.btn{:href => "/#{current_user.username}/unfollow/#{@user.username}", :type => "button"}
                      Unfollow
                  - else
                    %a.btn-primary.btn{:href => "/#{current_user.username}/follow/#{@user.username}", :type => "button"}
                      Follow
                  
                %ul.stats
                  %li
                    %a{:href => "/#{@user.username}"}
                      %strong= @user.number_of_tweets
                      Tweets
                  %li
                    %a{:href => "/#{@user.username}/following"}
                      %strong= @user.number_of_followees
                      Following
                  %li
                    %a{:href => "/#{@user.username}/followers"}
                      %strong= @user.number_of_followers
                      Followers


          .dashboard
            - if current_user != @user
              .module.component
                .profile-tweet-box.flex-module
                  .tweet-box-title
                    %h2
                      Tweet to 
                      = @user.fullname
                  %form.tweet-form{:method => "post", :action => "/post"}
                    .tweet-content
                      %textarea.tweet-box{:name => 'content', :placeholder => "@#{@user.username}"}
                        @
                        = @user.username
                    .tweet-button
                      %button.btn{:type => "submit"}
                        Tweet

            .component
              .module
                %ul

                  %li{:class => @tweets ? "active" : ""}
                    %a{:class => "list-link", :href => "/#{@user.username}"}
                      Tweets
                      %i.chev-right >

                  %li{:class => @followees ? "active" : ""}
                    %a{:class => "list-link", :href => "/#{@user.username}/following"}
                      Following
                      %i.chev-right >

                  %li{:class => @followers ? "active" : ""}
                    %a{:class => "list-link", :href => "/#{@user.username}/followers"}
                      Followers
                      %i.chev-right >

            = haml :who_to_follow

          = yield

