.module.has-content
  %ul
    %li
      %span.list-link Who to follow
  .flex-module
    .dashboard-user-recommendations.flex-module-inner
      .account-summary.account-summary-small
        - @users.each do |user|
          - unless current_user.following? user
            .content
              %a.account-group{:href => "/#{user.username}"}
                %span.account-group-inner<
                  %b.fullname= user.fullname
                  %s @
                  %span= user.username

              %span.user-actions.not-following
                %a.link-text.follow-text{:href => "/#{current_user.username}/follow/#{user.username}"}
                  Follow 
